body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-header {
    background-color: darkgrey;
    color: white;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-body {
    padding: 16px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
  }
  
  .table th, .table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .table th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .table tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .btn {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  .btn-close {
    font-size: 1.2rem;
    background: none;
    color: #dc3545;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .btn-close:hover {
    color: #c82333;
  }
  
  .modal-content {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .modal-header {
    background-color: #A5BFCC;
    color: white;
    padding: 16px;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 16px;
  }
  
  .modal-footer {
    background-color: #f8f9fa;
    padding: 16px;
    text-align: right;
  }
  
  form .form-label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color:black;
  }
  
  form .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    margin-bottom: 16px;
  }
  
  form .form-control:focus {
    outline: none;
    border-color: #28a745;
    box-shadow: 0px 0px 4px rgba(40, 167, 69, 0.5);
  }
  